* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
/* standard styles */
.color-primary{
    color:#4E47FF;
}
.header-section {
    background-image: url("../Assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 698px;
}
.logo {
    color:#4E47FF;
    font-size: 35px;
    font-weight: 800;
}
nav {
    /* border:1px solid tomato; */
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    height: 100px;
    align-items: center;
}

nav button {
    width: 132px;
    height: 48px;
}
.btn-primary {
    background-color: #4E47FF;
    border: none;
    padding: 8px 32px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}
.header-container {
align-items: center;
text-align: center;
height: 240px;
width: 900px;
margin: 0 auto;
margin-top: 120px;
/* border: 1px solid blueviolet; */
}
.header-container h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
.action-button {
    padding: 15px 40px;
    margin-top: 20px;
}
/* main section styles start here*/
main {
    background-color: #f5f8ff;
}
.main-section {
    width: 960px;
    margin: auto;
}
/* see-action-container styles here */

.see-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}
.see-action-container h4 {
    font-size: 28px;
    font-weight: 700;
}

.see-action-container p {
    color: #252432;
    margin: 15px 0px;
}

.see-action-container img {
    border-radius: 30px;
}

/* joined-user styles start here */
.joined-user-container {
    background-color: #4e47ff1a;
    padding: 30px 40px;
    margin-top: 60px;
    border-radius: 10px;
}

.joined-user-content {
    display: flex;
    justify-content: space-around;
}
.joined-user-container h3 {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: #252432;
    margin-bottom: 10px;
}
.joined-user-content h4{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 800;
}
.joined-user-content p {
    color: #00000080;
}
/* joined-user styles ended here */

/* user feedback styles start here */
.user-feedback-container {
    margin-top: 60px;
}
.user-feedback-container h3 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #252432;
    margin-bottom: 45px;
}
.user-feedback-content {

}
.user-one {

}

.user-two{

}

.user-three {

}

.avatar-content {

}
/* user feedback styles ended here */